body {
    & .exp-page {
        display          : flex;
        width            : 100vw;
        height           : 100vh;
        flex-direction   : column;
        justify-content  : space-between;
        & .footer {
            text-align       : center;
            padding          : 1rem .65rem;
            background-color : rgba(29, 34, 62, 1);
            border-top       : 4px solid rgb(242, 76, 76);
            color            : white;
            margin-top       : 4rem;
        }

        & h2 {
            background    : rgb(242, 76, 76);
            text-align    : center;
            color         : white;
            padding       : 15px 5px 10px 5px;
            margin-bottom : 4rem;
        }

        & .exp-container {

            & .exp-main {
                display         : flex;
                justify-content : center;
                


                & .exp-content {
                    min-width       : 450px;

                    & .exp-title p {
                        font-family : "Lato", sans-serif;
                        font-weight : 900;
                    }

                    & .exp-name p {
                        font-weight : 400;
                        color       : rgb(197, 197, 197);
                    }
                }

                & .exp-date {
                    margin      : auto 2rem auto 0;
                    text-align  : right; 
                    color       : rgb(163, 163, 163);
                }
            }

            & .separator {
                width       : 35%;
                height      : 0.05rem;
                max-height  : 0.05rem;
                background  : rgba(29, 34, 62, 1);
                margin      : 1rem auto 1rem auto;
            }
        }
    }

}