body {
    .swal-overlay.swal-overlay--show-modal {
        & .swal-modal {
            background: white;

            & .swal-icon {

                & .swal-icon--success__line.swal-icon--success__line--long,
                .swal-icon--success__line.swal-icon--success__line--tip {
                  background: rgb(242, 76, 76);
                }
                & .swal-icon--success__ring {
                    border-color: rgba(29, 34, 62, 1);
                    box-shadow  : 0 0 10px -2px rgb(242, 76, 76);
                }

  
            }

            & .swal-footer {
                & .swal-button-container {
                    & .swal-button.swal-button--confirm {

                        background : rgba(29, 34, 62, 1);
                        border     : 2px solid rgb(242, 76, 76);
                        outline    : none;
                        
                    }
                }
               
            }
        }
    }
}