body {
    & #root {
        & .Navbar {
            display          : flex;
            padding          : .65rem;
            justify-content  : flex-end;
            background-color : rgba(29, 34, 62, 1);

            & a {
                padding : 0 1rem;
                color   : white;
            }
        }
    }
}