* {
    margin          : 0;
    padding         : 0;
    border          : 0;
    font-size       : 1em;
    font-weight     : normal;
    font-style      : normal;
    text-decoration : none;
}

html, body {
    overflow-x      : hidden; 
}


* {
    scrollbar-width: auto;
    scrollbar-color: #1d223e;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #1d223e;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d223e;
    border-radius: 10px;
    border: 1px solid #ffffff;
}